$maxWidth: 400px;
$maxHeight: 300px;
$minWIdth: 40px;
$minHeight: 30px;

input[type='radio']{
  display: none;
}


input[type="radio"]:checked + label > img {
  width: $maxWidth;
  height: $maxHeight;
}

input[type="radio"] + label > img {
  width: $minWIdth;
  height: $minHeight;
}





