div,
body,
input,
button,
span,
header,
h1,
nav,
ul,
li,
nav {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  background: #73bc46;
  text-align: center;
}
header img {
  width: 100px;
  height: 100px;
}
header nav ul {
  display: inline-block;
  text-align: center;
}
header nav ul li {
  display: inline-block;
  font-size: 30px;
  width: 30px;
}
header nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
section.content {
  font-family: Corbel;
  font-weight: bold;
  padding: 50px;
  text-align: center;
}
section.content article {
  border: 3px ridge green;
  border-radius: 10px;
  padding: 5px;
  vertical-align: top;
  display: inline-block;
  margin: 10px;
  width: 300px;
  font-size: 28px;
}
section.content article a {
  display: block;
  color: red;
  text-align: right;
}
#wrapper {
  margin: 50px auto;
  width: 300px;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  background: #d4e4ef;
  background: -moz-linear-gradient(top, #d4e4ef 0%, #86aecc 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #d4e4ef), color-stop(100%, #86aecc));
  background: -webkit-linear-gradient(top, #d4e4ef 0%, #86aecc 100%);
  background: -o-linear-gradient(top, #d4e4ef 0%, #86aecc 100%);
  background: -ms-linear-gradient(top, #d4e4ef 0%, #86aecc 100%);
  background: linear-gradient(to bottom, #d4e4ef 0%, #86aecc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=0);
  border-radius: 50px;
  color: #207ce5;
  padding: 20px;
}
#wrapper button,
#wrapper input,
#wrapper span {
  text-align: center;
}
#wrapper input {
  height: 30px;
  font-size: 0.8em;
  margin: 10px 0;
}
#wrapper button {
  background: #f85032;
  background: -moz-linear-gradient(45deg, #f85032 0%, #f16f5c 24%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #f85032), color-stop(24%, #f16f5c), color-stop(51%, #f6290c), color-stop(71%, #f02f17), color-stop(100%, #e73827));
  background: -webkit-linear-gradient(45deg, #f85032 0%, #f16f5c 24%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  background: -o-linear-gradient(45deg, #f85032 0%, #f16f5c 24%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  background: -ms-linear-gradient(45deg, #f85032 0%, #f16f5c 24%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  background: linear-gradient(45deg, #f85032 0%, #f16f5c 24%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85032', endColorstr='#e73827', GradientType=1);
  height: 40px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  border-radius: 25px;
  font-weight: bold;
  font-size: 0.85em;
}
#wrapper .hidden {
  display: none;
  margin: 10px 0;
}
#wrapper .correct,
#wrapper .wrong {
  display: block;
}
#wrapper .correct {
  color: #207ce5;
}
#wrapper .wrong {
  color: #f02f17;
}
.jsCode {
  text-align: center;
}
.jsCode xmp {
  text-align: left;
  border-radius: 25px;
  display: inline-block;
  margin: auto;
  padding: 30px;
  margin: 50px auto;
  font-weight: bold;
  background: #b3dced;
  background: -moz-linear-gradient(-45deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #b3dced), color-stop(50%, #29b8e5), color-stop(100%, #bce0ee));
  background: -webkit-linear-gradient(-45deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  background: -o-linear-gradient(-45deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  background: -ms-linear-gradient(-45deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  background: linear-gradient(135deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1);
}
