header,
section,
div,
input,
p,
h1 {
  margin: 0;
  padding: 0;
}
body {
  font-size: 15px;
}
section {
  height: 65px;
  width: 660px;
}
.input-field {
  background-image: url('../image/monitor-picture.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  color: #fdfdfd;
  background-color: #353535;
  font-size: 22px;
  padding-left: 50px;
  vertical-align: 50%;
}
.input-field p {
  padding: 14px 0;
}
.input-field p input {
  height: 22px;
}
.input-field p input[type='submit'] {
  background-image: url('../image/go-button.png');
  background-repeat: no-repeat;
  width: 56px;
  height: 28px;
  background-color: inherit;
  border: 0;
  vertical-align: -50%;
}
.content {
  padding: 0px 15px 15px 15px;
  background-color: #3b3b3b;
  color: #a2a2a2;
}
.content h1 {
  color: #fcd619;
  font-size: 25px;
  padding: 20px 0 20px 0px;
}
.content span {
  color: white;
}
.content a {
  color: inherit;
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}
