<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home work</title>
    <link rel="stylesheet" href="styles/style.css" type="text/css"/>
</head>
<body>
<div id="wrapper">
    <header>
        <img src="img/logo.jpg" alt="Logo"/>
        <nav>
            <ul>
                <li><a href="">1</a></li>
            </ul>
        </nav>
    </header>
    <section class="content">
        <article>
            <a href="">Solution</a>
        </article>
    </section>
</div>
</body>
</html>