<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="styles/style.css" type="text/css"/>
</head>
<body>
<div id="wrapper">
    <header>
        <a href="index.html"><img src="img/logo.jpg" alt="Logo"/></a>
        <nav>
            <ul>
                <li><a href="">1</a></li>
            </ul>
        </nav>
    </header>

    <section class="solution">
        <article class="homework"></article>
        <article class="input">
            <p>text
                <input></p>
            <p>
                <button id="submit">Submit</button>
            </p>
        </article>
        <article class="result">
            <p>Result</p>
            <p id="result"></p>
        </article>
    </section>
    <section class="jsCode">
        <xmp id="code">
        </xmp>
    </section>
</div>
<script type="text/javascript" src="scripts/SortTwoInt.js"></script>
<script>
    var toAppend = document.getElementById("code");
    var request = new XMLHttpRequest();
    request.open("GET", "scripts/SortTwoInt.js", false);
    request.send(null);
    toAppend.innerHTML = request.responseText;
</script>
</body>
</html>