body {
  margin: auto;
  margin-top: 5px;
  width: 300px;
  height: 370px;
  background-color: #33393a;
}
body table {
  border-collapse: collapse;
  width: 300px;
  height: 370px;
  color: #90fdfb;
  font-size: 45px;
  text-shadow: 1px 0.5px #9da2a3;
}
body table td,
body table tr,
body table th {
  border: 1px solid #9cdbe9;
  text-shadow: 1px 0.5px #9da2a3;
}
body table tr {
  height: 60px;
}
body table tr th {
  font-weight: normal;
  text-align: right;
}
body table tr td {
  text-align: center;
}
