body,
div,
header,
nav,
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
body {
  width: 690px;
  margin: auto;
  background-color: #1e3741;
  color: #7ea1b0;
  border: 1px solid #00968c;
  border-radius: 5px;
}
header nav {
  margin-top: 10px;
}
header nav ul li:first-of-type {
  background-color: inherit;
}
header nav ul li:first-of-type a {
  color: white;
}
header nav ul li {
  float: left;
  display: block;
  margin-left: 1px;
  padding: 10px 15px;
  background-color: #4b5f67;
}
header nav ul li a {
  text-decoration: none;
  color: #7ea1b0;
}
header nav ul li:hover {
  text-decoration: underline;
}
article {
  margin-top: 15px;
  overflow: auto;
}
article ul {
  float: left;
  display: block;
}
article ul li {
  width: 265px;
  padding: 12px;
  border-bottom: 1px solid #334952;
}
article ul li:first-of-type {
  color: white;
  background-color: #00968c;
}
article ul li:last-of-type {
  border: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
  /* IE < 8 */
}
